<h1>Postagens:</h1>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-dark">nova postagem</button></a>
{{#each postagens}}
    <div class="card mt-4" >
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>Descrição: {{descricao}}</p>
            
            <p>Categoria: {{categoria.nome}}</p>
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-link mt-2">editar</button></a>
            <a href="/admin/postagens/delete/{{_id}}"><button class="btn btn-link mt-2">deletar</button></a>
        </div>
    </div>
{{else}}
    <p>nenhuma postagem registrada</p>
{{/each}}