<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Esse é um blog simple feito com nodejs combinado com express</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Registe-se</a>

  </p>
</div>
 <hr>
{{#each postagens}}
 <div class="card mt-4">
     <div class="card-body">
        <hr>
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <small>Categoria: {{categoria.nome}}</small> <a href="/postagem/{{slug}}"><button class="btn btn-link">Leia mais</button></a>
     </div>
 </div>
 {{else}}
 <h5>nenhuma postagem</h5>
 <a href="/admin/postagens"><button>Adicionar postagem</button></a>
 {{/each}}